.hide {
  display: none;
}

.task-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task-div * {
  margin-right: 20px;
}

.task-div p {
  width: 250px;
}

.edit-task {
  position: fixed;
  margin: 0 auto;
  width: 100%;
  left: 45%;
}

.edit-task span {
  position: relative;
  left: 220px;
  top: 0px;
}

.edit-task .task-description, .edit-task .task-priority {
  margin-bottom: 20px;
}

.edit-task .close-edit:hover {
  cursor: pointer;
}
