main {
  min-height: 100vh;
  height: auto;
  background: #7f7fd5;
  /* fallback for old browsers */
  background: -webkit-gradient(linear, left top, right top, from(#91eae4), color-stop(#86a8e7), to(#7f7fd5));
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.columns {
  margin-top: 0;
  margin-bottom: 0 !important;
}

.green {
  color: green;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

input[type='text'] {
  margin-top: 15px;
}

.hide {
  display: none;
}

.linethrough {
  opacity: 0.7;
  text-decoration: line-through;
}

.add-project {
  margin-top: 1rem;
  font-weight: bold;
}

.task-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task-div * {
  margin-right: 20px;
}

.task-div p {
  width: 250px;
}

.new-project-form {
  padding: 1.5rem;
  border-radius: 12px;
  margin-top: 1rem;
}

.new-project-form .fa-close {
  position: absolute;
  right: 10px;
  top: 10px;
}

.new-project-form .fa-close:hover {
  cursor: pointer;
}

.project-list::before {
  content: 'Projects';
  position: relative;
  top: 1.6rem;
  left: 15px;
  display: block;
  width: auto;
  color: #fff;
  font-weight: bold;
  font-size: 1.6rem;
  height: 80px;
}

.project-list {
  margin-top: 1.6rem;
}

.project-list .project {
  padding: 1.5rem;
  border-radius: 12px;
  margin-bottom: 1.6rem;
}

.project-list .project h3 {
  margin-bottom: 5px;
}

.project-list .project button {
  margin-bottom: 5px;
}

.project-list .project button,
.project-list .project input {
  margin-right: 5px;
}

.project-list .project .edit-project {
  position: absolute;
  right: 50px;
  top: 20px;
}

.project-list .project .del-project {
  position: absolute;
  right: 20px;
  top: 20px;
}

.project-list .project .del-project:hover,
.project-list .project .del-task:hover,
.project-list .project .task-item:hover,
.project-list .project .edit-project:hover {
  cursor: pointer;
}

.project-list .project .task-list::before {
  content: 'Tasks';
  position: relative;
  top: 1.6rem;
  color: #000;
  display: block;
  width: auto;
  min-width: 150px;
  height: auto;
  margin-bottom: 30px;
}

.edit-task {
  position: fixed;
  margin: 0 auto;
  left: 33%;
  width: 33%;
  border-radius: 12px;
  top: 12vh;
  background-color: #fff;
  padding: 1rem 2rem 2rem;
  -webkit-box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
          box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
}

.edit-task .task-title h3,
.edit-task .task-title input {
  margin-bottom: 1rem;
}

.edit-task span {
  position: relative;
  left: 27vw;
  top: 0;
}

.edit-task .task-textarea {
  padding: 10px;
}

.edit-task .task-description,
.edit-task .task-priority {
  margin-bottom: 20px;
}

.edit-task .close-edit:hover {
  cursor: pointer;
}

.edit-task .task-description:hover {
  cursor: pointer;
}

.confirm-delete {
  background-color: #fff;
  position: fixed;
  top: 25vh;
  margin: 0 auto;
  padding: 1.5rem;
  width: 40%;
  left: 30%;
  text-align: center;
  border-radius: 12px;
  -webkit-box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
          box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
}

.confirm-delete p {
  margin-bottom: 1rem;
}
