main {
  min-height: 100vh;
  height: auto;
  background: #7F7FD5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

input[type='text'] {
  margin-top: 15px;
}

.hide {
  display: none;
}

.linethrough {
  color:red;
  text-decoration: line-through;
}

.add-project {
  margin-top: 1rem;
  font-weight: bold;
}

.task-div {
  display: flex;  
  margin: 10px auto;
  justify-content: flex-start;
  align-items: center;

  * {
    margin-right: 20px;
  }

  p {
    width: 250px;
  }
}

.new-project-form {
  padding: 1.5rem;
  border-radius: 12px;
  margin-top: 1rem;
  
  .fa-close {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .fa-close:hover {
    cursor: pointer;
  }
}


.project-list::before {
  content: 'Projects';
  position: relative;
  top: 1.6rem;
  left: 15px;
  display: block;
  width: auto;
  color: #fff;
  font-weight: bold;
  font-size: 1.6rem;
  height: 80px;
}

.project-list {
  margin-top: 1.6rem;

  .project {
    padding: 1.5rem;
    border-radius: 12px;
    margin-bottom: 1.6rem;

    h3 {
      margin-bottom: 5px;
    }

    button {
      margin-bottom: 5px;
    }
    button, input {
      margin-right: 5px;
    }

    .edit-project {
      position: absolute;
      right: 50px;
      top: 20px;
    }

    .del-project {
      position: absolute;
      right: 20px;
      top: 20px;
    }

    .del-project:hover, 
    .del-task:hover, 
    .task-item:hover,
    .edit-project:hover {
      cursor: pointer;
    }

    .task-list::before {
      content: 'Tasks';
      position: relative;
      top: 1.6rem;     
      color: #000;       
      display: block;
      width: auto;
      min-width: 150px;
      height: auto;
      margin-bottom: 30px;
    }
  }

}

.edit-task {
  position: fixed;
  margin: 0 auto; 
  left: 33%;
  width: 33%;
  border-radius: 12px;
  top: 12vh;
  background-color: #fff;
  padding: 1rem 2rem 2rem;
  box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);


  .task-title h3, .task-title input {
    margin-bottom: 1rem;
  }

  span {
    position: relative;
    left: 27vw;
    top: 0px;
  }

  .task-textarea {
    padding: 10px;
  }

  .task-description, .task-priority {
    margin-bottom: 20px;
  }

  .close-edit:hover {
    cursor: pointer;
  }
}


.confirm-delete {  
  background-color: #fff;
  position: fixed;
  top: 12vh;
  margin: 0 auto;
  padding: 1.5rem;
  width:40%;
  left: 30%;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);

  p {
    margin-bottom: 1rem;
  }
}


